@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <h2>Welcome to our Webpage!</h2>
        </div>
        <a href="~/Home/Login">Login!</a>
    </div>
</div>